@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin:0;
}
.container{
    text-align: center;
    background-color: #86563C;
    width: 400px;
    height: 300px;
    padding: 30px;
    padding-top: 1px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    align-items: center;
    justify-content: space-around;
    background-color: #02975ea4;
    border-radius: 20px;
    color: white;
    display: flex;
    font-family: 'Righteous', cursive;
}
.header-container{
    padding: 20px;
}
